// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";

h6 a {
  text-decoration: none;
  color: white;
}


a:hover {
    font-size: 30px!important;
    font-weight: bold!important;
    text-decoration: none;
    color: white;
}
